body {
    font-family: "Helvetica Neue", "Helvetica";
    font-size: 130%;
}

h1, h2, ul, dl {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 300px;
    height: 100%;
    margin-left: 40px;
    margin-top: 40px;
}

.section {
    margin-left: 20px;
}

.icon {
    text-align: center;
}

.icon img {
    width:310px;
    height:310px;
    border-radius: 15px;
}

dl { 
    margin-left: 20px;
}

dt {
    font-weight: bold;
}

dd {
    font-size: 80%;
    margin-left: 20px;
    font-style: italic;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

